$accent: #BC3A26;
$accent-dark: #A7362E;
$accent-light: #D66744;

$second: #B58836 ;
$second-dark: #CDB27A;
$second-light: #CDB27A;

$primary-color:#E2E7E2;
$primary-color-light:#fff;
$primary-color-dark:#CCCBC0;
$primary-color-darker: #4B5258;

$xxl: 2560px;
$xl: 1200px;
$lg: 992px;
$md: 768px;
$sm: 576px;

$bg:$primary-color;
$bg-dark:$primary-color-dark;
$bg-light:$primary-color-light;

$font: $primary-color-dark;
$font-dark: $primary-color-darker;
$font-light: $primary-color;

$jumbo-first: #B7C0BA;
$jumbo-second: #E2E7E2;
$jumbo-third: #7A877E;
$jumbo-fourth: #D4DDD5;

$font: #4B4849;
$animated-text: $second;